# Visual Studio files
.vs/
*.user
*.suo
*.sln.ide
*.opensdf
*.VC.db

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.tmp
*.log

# Packages
packages/
node_modules/
# Project files
*.csproj.user
*.vcxproj.user
*.nupkg

# Temporary files
Temp/

# Test results
TestResults/